
  body {
    background-image: url('https://media.istockphoto.com/id/1305242837/photo/molecular-structure-of-ozone-with-transparent-bubbles-and-blue-background.webp?b=1&s=170667a&w=0&k=20&c=uFGAzgrtLCCKHOJdKfXVPJb5U6hUJW-vkeifAFvX0S0=');
  }
  
  /* body {
    background-color: #1e90ff;
  } */
  /* body:hover {
    background-color: #e0ffff;
  } */

