
  body {
    background-image: url('https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_700/MTk0MzMyMTg3NTYxMzcxMzEz/react-animated-background.webp');
  }
  
  /* body {
    background-color: #1e90ff;
  } */
  /* body:hover {
    background-color: #e0ffff;
  } */

